<div class="container-fluid no-pd">
    <div class="row row-no-mg v-align stage stage-5 stage-even">
        <div class="col-no-pd col-md-6">
            <div class="img-box">
                <div class="img-overlay">
                    <img src="{{ asset('/bundles/app/images/product/publicpreviewXCZSQ249.jpg') }}" alt="Top banner">
                </div>
            </div>
        </div>
        <div class="col-no-pd col-md-6">
            <div class="row row-no-mg">
                <div class="col-pd-5 col-sm-12">
                    <h2 class="uppercase-light text-center">
                        {% trans from "itinerary_stages" %}
                        itinerary-stage5-title-h1
                        {% endtrans %}
                    </h2>
                    <p class="lead lead-light stage-text-desc">
                        {% trans from "itinerary_stages" %}
                        itinerary-stage5-description-p
                        {% endtrans %}
                    </p>
                </div>
            </div>
            <div class="row row-no-mg">
                <div class="col-sm-12">
                    <p class="lead-light stage-desc large-p">
                        {% trans from "itinerary_stages" %}
                        itinerary-stage5-description-p
                        {% endtrans %}
                    </p>
                    <div class="row row-no-mg itinerary-tech-detail text-center">
                        <div class="col-xs-12 col-no-pd">
                            <i class="fa fa-clock-o line-icon fa-light-color">
                                <span class="lead lead-light uppercase ">
                                    {% trans from "itinerary_stages" %}
                                    itinerary-stage5-tech1-title-span
                                    {% endtrans %}
                                </span>
                                <span class="lead lead-light duration">
                                    {% trans from "itinerary_stages" %}
                                    itinerary-stage5-tech1-value-span
                                    {% endtrans %}
                                </span>
                            </i>
                        </div>
                    </div>
                    <div class="row row-no-mg itinerary-tech-detail text-center">
                        <div class="col-xs-12 col-no-pd">
                            <i class="fa fa-arrow-up line-icon fa-light-color">
                                <span class="lead lead-light uppercase ">
                                    {% trans from "itinerary_stages" %}
                                    itinerary-stage5-tech2-title-span
                                    {% endtrans %}
                                </span>
                                <span class="lead lead-light duration">
                                    {% trans from "itinerary_stages" %}
                                    itinerary-stage5-tech2-value-span
                                    {% endtrans %}
                                </span>
                            </i>
                        </div>
                    </div>
                    <div class="row row-no-mg itinerary-tech-detail text-center">
                        <div class="col-xs-12 col-no-pd">
                            <i class="fa fa-arrow-down line-icon fa-light-color">
                                <span class="lead lead-light uppercase ">
                                    {% trans from "itinerary_stages" %}
                                    itinerary-stage5-tech3-title-span
                                    {% endtrans %}
                                </span>
                                <span class="lead lead-light duration">
                                    {% trans from "itinerary_stages" %}
                                    itinerary-stage5-tech3-value-span
                                    {% endtrans %}
                                </span>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
