<div class="container-fluid no-pd">
    <div class="row row-no-mg v-align stage stage-1">
        <div class="col-no-pd col-md-6">
            <div class="img-box">
                <div class="img-overlay">
                    <img src="{{ asset('/bundles/app/images/product/background1.jpg') }}" alt="Top banner">
                </div>
            </div>
        </div>
        <div class="col-no-pd col-md-6">
            <div class="row row-no-mg">
                <div class="col-pd-5 col-sm-12">
                    <h1 class="uppercase-light text-center">
                        Day 1 : les contamines – les chapieux
                    </h1>
                </div>
            </div>
            <div class="row row-no-mg">
                <div class="col-sm-12">
                    <p class="lead-light stage-desc large-p">
                        Lorem ipsum dolor sit amet, an verear aliquam eos, eu doming sanctus intellegam vix, eam
                        minim essent ad. Cum in doctus accusamus complectitur, usu case epicurei deterruisset an.
                        Cetero forensibus qui no, porro minimum eu duo. Pri ex graecis docendi.
                    </p>
                    <div class="row row-no-mg itinerary-tech-detail text-center">
                        <div class="col-xs-12 col-no-pd">
                            <i class="fa fa-clock-o itinerary-icon fa-light-color">
                                <span class="lead-light uppercase ">
                                    Duration:
                                </span>
                                <span class="lead-light duration">
                                    5 hours
                                </span>
                            </i>
                        </div>
                    </div>
                    <div class="row row-no-mg itinerary-tech-detail text-center">
                        <div class="col-xs-12 col-no-pd">
                            <i class="fa fa-arrow-up itinerary-icon fa-light-color">
                                    <span class="lead-light uppercase ">
                                        Uphill:
                                    </span>
                                <span class="lead-light duration">
                                        + 1200 meters
                                    </span>
                            </i>
                        </div>
                    </div>
                    <div class="row row-no-mg itinerary-tech-detail text-center">
                        <div class="col-xs-12 col-no-pd">
                            <i class="fa fa-arrow-down itinerary-icon fa-light-color">
                                    <span class="lead-light uppercase ">
                                        Downhill:
                                    </span>
                                <span class="lead-light duration">
                                        - 800 meters
                                    </span>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
