{% extends 'base.html.twig' %}
{% block title %}Error{% endblock %}
{% block body %}
    <p>
        Oops. A problem has occurred. We are sorry for the inconvenience. Try to go <a href="{{ path('homepage') }}">here</a>.
    </p>
{% endblock %}

