{% extends 'base.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block body %}
    <p>
        Oops. The page you requested doesn't exist. Try to go <a href="{{ path('homepage') }}">here</a>.
    </p>
{% endblock %}

