{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ parent() }}Product - {{ id }}{% endblock %}

{% block content %}
    <section id="product-header" class="container-flud">
    </section>
    <div class="container-fluid" id="product-sections">
        {#<nav class="col-sm-1">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="1">
                <li><a href="#section1">Section 1</a></li>
                <li><a href="#section2">Section 2</a></li>
                <li><a href="#section3">Section 3</a></li>
            </ul>
        </nav>#}
        <section id="section-highlight" class="product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Highlights</h3>
                    </div>
                </div>
                <div class="section-list col-md-offset-4 col-md-4">
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                        <li>Etiam ultrices augue ut consectetur posuere.</li>
                        <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                    </ol>
                </div>
            </div>
        </section>
        <section id="section-iternary" class="product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Iternary</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="section-list col-md-offset-4 col-md-4">
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                            <li>Etiam ultrices augue ut consectetur posuere.</li>
                            <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </section>
        <section id="section3" class="product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>The Accommodation</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="section-list col-md-offset-4 col-md-4">
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                            <li>Etiam ultrices augue ut consectetur posuere.</li>
                            <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </section>
        <section class="product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>The Trip Info</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="section-list col-md-offset-4 col-md-4">
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                            <li>Etiam ultrices augue ut consectetur posuere.</li>
                            <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </section>
        <section class="product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>The Directions</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="section-list col-md-offset-4 col-md-4">
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                            <li>Etiam ultrices augue ut consectetur posuere.</li>
                            <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </section>
        <section class="product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Included</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="section-list col-md-offset-4 col-md-4">
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                            <li>Etiam ultrices augue ut consectetur posuere.</li>
                            <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </section><section class="product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>FAQ</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="section-list col-md-offset-4 col-md-4">
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                            <li>Etiam ultrices augue ut consectetur posuere.</li>
                            <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </section>
        <section class="product-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Review</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="section-list col-md-offset-4 col-md-4">
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                            <li>Etiam ultrices augue ut consectetur posuere.</li>
                            <li>Suspendisse eu viverra eros, ac varius nis l.</li>
                        </ol>
                    </div>
                </div>

            </div>
        </section>
    </div>
    {#<div class="container">
        <div class="row">
            <nav class="col-sm-3" id="myScrollspy">
                <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="70">
                    <li><a href="#section1">Section 1</a></li>
                    <li><a href="#section2">Section 2</a></li>
                    <li><a href="#section3">Section 3</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#section41">Section 4-1</a></li>
                            <li><a href="#section42">Section 4-2</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="col-sm-9">
                <div id="section1">
                    <h1>Section 1</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section2">
                    <h1>Section 2</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section3">
                    <h1>Section 3</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section41">
                    <h1>Section 4-1</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section42">
                    <h1>Section 4-2</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
            </div>
        </div>
    </div>#}
{% endblock %}