<div class="col-xs-6 col-pd-5 box-container">
    <div class="icon-container">
        <i class="fa fa-star"></i>
    </div>
    <p class="lead">
        {% trans from "product" %}
        highlights_li_point{{ element }}
        {% endtrans %}
    </p>
</div>