<div class="cookie-consent">
    If you continue to browse this website, you accept third-party cookies used to offer customized content to you. Click <a href="#">here</a> to read more about cookies and how they are used on this site.
    <div class="cc-button-wrapper">
        <div class="cookie-consent-button cc-button-positive">I agree</div>
        <div class="cookie-consent-button cc-button-negative">I disagree</div>
    </div>
</div>