<div class="cookie-consent">
    {% trans from 'cookie' %}div_cookieconsent_1{% endtrans %}
    <a href="{{ path('cookie_usage') }}">{% trans from 'cookie' %}div_cookieconsent_click{% endtrans %}</a> {% trans from 'cookie' %}div_cookieconsent_2{% endtrans %}
    <div class="cc-button-wrapper">
        <div class="cookie-consent-button cc-button-positive">{% trans from 'cookie' %}div_cookieconsent_agree{% endtrans %}</div>
        <div class="cookie-consent-button cc-button-negative">{% trans from 'cookie' %}div_cookieconsent_disagree{% endtrans %}</div>
    </div>
</div>