<footer id="footer-menu">
    <hr/>
    <div id="footer-links" class="container">
        <div id="footer-left" class="pull-left">
            {{ render(controller('AppBundle:CommonModule:partner')) }}
        </div>
        <div id="footer-right" class="pull-right">
            {{ render(controller('AppBundle:CommonModule:social')) }}
        </div>
    </div>
</footer>