<footer id="footer-menu">
    <hr/>
    <div id="footer-links" class="container">
        <p class="text-center mentions">
            <a href="#">Mentions légales</a>   |   <a href="#">Conditions générales de ventes</a><br>
            © ebikemontblanc.com 2016
        </p>
        <div id="footer-left" class="pull-left">
            {{ render(controller('AppBundle:CommonModule:partner')) }}
        </div>
        <div id="footer-right" class="pull-right">
            {{ render(controller('AppBundle:CommonModule:social')) }}
        </div>
    </div>
</footer>