<footer id="footer-menu">
    <hr/>
    <div id="footer-links" class="container">
        <div id="footer-left" class="pull-left">
            <span>Sales terms</span>
            <span>Legal Information</span>
            <span>Hotel Chenamaz</span>
            <span>Contact</span>
        </div>
        <div id="footer-right" class="pull-right">
            {{ render(controller('AppBundle:CommonModule:social')) }}
        </div>
    </div>
</footer>