<span><a href="{{ path('home') }}" target="_blank">{% trans %}footer_partner_a_link1{% endtrans %}</a></span>
<span><a href="{{ path('home') }}" target="_blank">{% trans %}footer_partner_a_link2{% endtrans %}</a></span>