<span><a href="{{ path('home') }}" target="_blank">Facebook</a></span>
<span><a href="{{ path('home') }}" target="_blank">Twitter</a></span>
<span><a href="{{ path('home') }}" target="_blank">Instagram</a></span>