<ul id="vertical-menu" class="nav nav-pills nav-stacked">
    <li><a href="#section-highlight"><span class="glyphicon glyphicon-alert"></span></a>
    <li><a href="#section-iternary"><span class="glyphicon glyphicon-alert"></span></a>
    <li><a href="#section-accommodation"><span class="glyphicon glyphicon-alert"></span></a>
    <li><a href="#section-trip"><span class="glyphicon glyphicon-alert"></span></a>
    <li><a href="#section-directions"><span class="glyphicon glyphicon-alert"></span></a>
    <li><a href="#section-included"><span class="glyphicon glyphicon-alert"></span></a>
    <li><a href="#section-faq"><span class="glyphicon glyphicon-alert"></span></a>
    <li><a href="#section-review"><span class="glyphicon glyphicon-alert"></span></a>
</ul>