<ul id="vertical-menu" class="nav nav-pills nav-stacked">
    <li><a data-toggle="tooltip" data-placement="left" title="{% trans from 'product' %}a_highlights_tooltip{% endtrans %}" href="#section-highlights"><span class="glyphicon glyphicon-alert"></span></a></li>
    <li><a data-toggle="tooltip" data-placement="left" title="{% trans from 'product' %}a_iternary_tooltip{% endtrans %}" href="#section-iternary"><span class="glyphicon glyphicon-alert"></span></a></li>
    <li><a data-toggle="tooltip" data-placement="left" title="{% trans from 'product' %}a_accommodation_tooltip{% endtrans %}" href="#section-accommodation"><span class="glyphicon glyphicon-alert"></span></a></li>
    <li><a data-toggle="tooltip" data-placement="left" title="{% trans from 'product' %}a_trip_tooltip{% endtrans %}" href="#section-trip"><span class="glyphicon glyphicon-alert"></span></a></li>
    <li><a data-toggle="tooltip" data-placement="left" title="{% trans from 'product' %}a_faq_tooltip{% endtrans %}" href="#section-faq"><span class="glyphicon glyphicon-alert"></span></a></li>
    <li><a data-toggle="tooltip" data-placement="left" title="{% trans from 'product' %}a_review_tooltip{% endtrans %}" href="#section-review"><span class="glyphicon glyphicon-alert"></span></a></li>
</ul>