@charset "UTF-8";
/* CSS Document */
/*Global*/
html, body, header{height:100%}
body{background:#f2f2f2; font-family: 'Open Sans', sans-serif; }
.container{min-width:300px}
p.cta a{padding:12px 30px; background:#017f84; color:#FFF; border:1px solid #015c76; text-transform:uppercase}
p.cta{margin:22px 0 0 0}
p.cta a:hover{opacity:0.8}
h1{font-weight:normal; font-size:45px}
h2{font-size:28px!important; font-weight:normal}

/*MENU*/
#upnavbar{display:block}
#navbar >ul >li >a{padding:30px}
#navbar >ul >li.active{ background:#017f84}
#navbar >ul >li.active a{ text-decoration:none}
#header-menu{background:#001d26}
#navbar >ul >li ul{ background:#001d26}
#languages > a > img {width:35px!important; height:35px!important}
#languages a {padding:22px!important}
.navbar-brand img{margin-top:8px}

/*image header*/
.headerbg{height:100%!important; background-size:cover!important; background-position:center center!important; min-width:320px; background: url(img/slider1.jpg)}
.slide-cta{color:#FFF; padding-top:80px}
.slide-cta p.sous-titre{ font-size:25px}

/*Blocs hp*/
.blochp div{ background:#FFF; padding:27px}
.blochp > div > .img{ height: 200px; background-size:cover}
.mtb50{padding-top:50px; padding-bottom:50px}

/*Footer*/
footer{ background:#d5d8d9!important; color:#000!important; font-size:13px; color:#001d26}
.mentions{margin-bottom:-30px;}
.mentions a{ color:#000}
#footer-left{margin-top:-20px}
footer a:hover{opacity:0.8}

@media only screen and (max-width: 995px) {
a.navbar-brand img{ width:150px; height:auto; margin-top:15px}
}
@media only screen and (max-width: 768px) {
#upnavbar{overflow:hidden; width:320px; height:100%; position:fixed; right:0; padding-left:20px; display:none}
#navbar{width:300px; height:100%!important; background:#000; max-height:none; overflow-y:scroll; overflow-x:hidden; display:block; -moz-box-shadow: 0px 0px 30px 0px #656565;
-webkit-box-shadow: 0px 0px 30px 0px #656565;
-o-box-shadow: 0px 0px 30px 0px #656565;
box-shadow: 0px 0px 30px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=30);
position:absolute; left:300px
}
}
@media only screen and (max-width: 788px) {
a.navbar-brand img{ width:150px; height:auto; margin-top:0}
.mentions{margin-bottom:20px}
.headerbg{max-height:100%}
.slide-cta{padding-top:10px}
}
@media only screen and (max-width: 680px) {
	#footer-right, #footer-left{clear:both!important; text-align:center; width:100%;}
	#footer-left{ margin-top:0px}
	#footer-right{ margin-top:10px}

}
@media only screen and (max-width: 480px) {
.headerbg{mx-height:100%}
h1{font-size:25px}
.slide-cta p.sous-titre{ font-size:14px}
#footer-right img{width:30px; height:30px}
#footer-right span{margin-right:5px}
}
@media only screen and (max-width: 380px) {
.headerbg{background: url(img/slider1-smartphone.jpg)}
}
@media only screen and (max-width: 360px) {
}



