{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ parent() }}{% trans from 'cookie' %} page_title {% endtrans %}{% endblock %}
{% block content %}
    <h2>{% trans from 'cookie' %} h2_cookie {% endtrans %}</h2>
    <div class="container">
        <p>
            {% trans from 'cookie' %} p_cookieusage {% endtrans %}
        </p>
    </div>
{% endblock %}