/* Body offset for fixed navbar */
body {
	padding-top: 50px;
}

/* Product page */
#product-header {
	height: 400px;
}

#product-sections {
	padding: 0;
}

.section-list {
	margin-bottom: 20px;
}

#vertical-menu {
	height: 12em;
	position: fixed;
	right: 2em;
	top: 50%;
	margin-top: -6em;
	z-index: 999;
}

.product-section {
	min-height: 900px;
}

/* Language menu */
.language-flag {
	width: 2em;
}

/* Footer */
#footer-menu {
	background-color: #222;
	color: #fff;
	padding-bottom: 10px;
}

#footer-left span, #footer-right span {
	margin-right: 10px
}