/* Product page */
#product-header {
	height: 400px;
}

#product-sections {
	padding: 0;
}

.section-list {
	margin-bottom:20px;
}

#vertical-menu {
	height: 12em;
	position: fixed;
	right: 2em;
	top: 50%;
	margin-top: -8em;
	z-index: 999;
}