/* Custom media queries */
@media only screen and (min-width: 960px) {
    .navbar-brand {
        height: 80px;
        line-height: 50px;
    }

    h1.herobanner-title {
        font-size: 44px !important;
        font-weight: bolder !important;
    }

    p.herobanner-subtitle {
        font-size: 24px !important;
    }

    .herobanner {
        padding-top: 80px;
    }

    .topbanner {
        margin-top: 30px;
    }
    .itinerary-tech-detail {
        font-size: larger;
    }
    .stats {
        margin-top: 30px !important;
    }
}

@media only screen and (max-width: 960px) {
    .navbar-brand {
        height: 80px;
        line-height: 50px;
    }

    h1.herobanner-title {
        font-size: 38px !important;
        font-weight: bolder !important;
    }

    p.herobanner-subtitle {
        font-size: 20px !important;
    }

    .herobanner {
        padding-top: 60px;
    }
    .v-align {
        display: block;
    }

    .itinerary-tech-detail {
        font-size: large;
    }
    #section-topbanner {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        height: 40px;
        line-height: 20px;
    }

    .headerbg {
        max-height: 100%
    }

    .slide-cta {
        padding-top: 10px
    }

    .lined-head span {
        margin: 0 !important;
    }

    .faq-expand {
        position: absolute;
        top: -15px;
        border-radius: 50px;
        left: -5px;
        height: 1.6em !important;
        background-color: #fff !important;
        cursor: pointer;
    }

    .faq-expand i {
        font-size: 3em;
        position: relative;
        top: -8px;
        left: 0;
    }

    #section-topbanner {
        margin-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    .headerbg {
        mx-height: 100%
    }

    h1 {
        font-size: 25px
    }

    .slide-cta p.sous-titre {
        font-size: 14px
    }

    h1.herobanner-title {
        font-weight: bolder !important;
    }
    .itinerary-tech-detail {
        font-size: x-small;
    }


}

    @media only screen and (max-width: 360px) {
    }

