/* Custom media queries */
@media only screen and (min-width: 960px) {
    .navbar-brand {
        height: 80px;
        line-height: 50px;
    }

    h1.herobanner-title {
        font-size: 44px !important;
        font-weight: bolder !important;
    }

    p.herobanner-subtitle {
        font-size: 24px !important;
    }

    .herobanner {
        padding-top: 80px;
    }

    .topbanner {
        margin-top: 30px;
    }

    .itinerary-tech-detail {
        font-size: larger;
    }

    .stats {
        margin-top: 30px !important;
    }

    #languages,
    #languages > ul > li > a {
        line-height: 5em;
    }

    #languages > a {
        padding: 25px 20px;
        position: relative;
        left: 20px;
    }

    .contact-form-title > div > h1 {
        margin-top: 45px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 960px) {
    .navbar-brand {
        height: 80px;
        line-height: 50px;
    }

    h1.herobanner-title {
        font-size: 38px !important;
        font-weight: bolder !important;
    }

    p.herobanner-subtitle {
        font-size: 20px !important;
    }

    .herobanner {
        padding-top: 80px;
    }

    .v-align {
        display: block;
    }

    #section-highlights > div.highlights-img {
        background: url('../images/product/tp-960w.jpg') no-repeat center center;
        background-size: cover;
        height: 60vh;

    }


    .itinerary-tech-detail {
        font-size: large;
    }

    #section-topbanner .headline {
        margin-top: 0;
    }

    #languages,
    #languages > ul > li > a {
        line-height: 5em;
    }

    #languages > a {
        padding: 20px;
        position: relative;
        left: 20px;
    }

    .contact-form-title > div > h1 {
        margin-top: 45px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {

    .navbar-brand {
        height: 40px;
        line-height: 20px;
    }

    .headerbg {
        max-height: 100%
    }

    .herobanner {
        padding-top: 15px;
    }

    .slide-cta {
        padding-top: 10px
    }

    #section-highlights {
        margin-top: 0;
    }

    #section-highlights > div.highlights-img {
        background: url('../images/product/tp-768w.jpg') no-repeat center center;
        background-size: cover;
        height: 300px;
    }

    .lined-head span {
        margin: 0 !important;
    }

    .faq-expand {
        position: absolute;
        top: -15px;
        border-radius: 50px;
        left: -5px;
        height: 1.6em !important;
        background-color: #fff !important;
        cursor: pointer;
    }

    .faq-expand i {
        font-size: 3em;
        position: relative;
        top: -8px;
        left: 0;
    }

    #section-topbanner .headline {
        margin-top: 0;
    }

    #languages,
    #languages > ul > li > a {
        line-height: 3.5em;
    }

    #languages > a {
        padding: 0;
        position: relative;
        left: 0;
    }

    #languages > ul {
        position: absolute;
        left: -80%;
    }

    .contact-img-bg {
        background: url('../images/home/slider1-smartphone.jpg') no-repeat center center / cover;
    }

    .contact-form-title > div > h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .container-terms {
        margin-top: 0;
    }
}
@media only screen and (max-width: 480px) {
    .headerbg {
        max-height: 100%
    }

    h1 {
        font-size: 25px
    }

    .slide-cta p.sous-titre {
        font-size: 14px
    }

    h1.herobanner-title {
        font-weight: bolder !important;
    }

    .itinerary-tech-detail {
        font-size: x-small;
    }
    #section-highlights > div.highlights-img {
        background: url('../images/product/tp-768w.jpg') no-repeat center center;
        background-size: cover;
        height: 300px;
    }
    .contact-img-bg {

    }

}

@media only screen and (max-width: 360px) {
}

