/* CSS Document */
/*Global*/

/*MENU*/

#navbar > ul > li > a {
    padding: 30px
}

#navbar > ul > li.active {
    background: #017f84
}

#navbar > ul > li.active a {
    text-decoration: none
}

#header-menu {
    background: #001d26
}

#navbar > ul > li ul {
    background: #001d26
}

#languages > a > img {
    width: 35px !important;
    height: 35px !important
}
#languages > ul.dropdown-menu {
    min-width: 85px;
}

.navbar-brand img {
    margin-top: 8px
}

/*image header*/

/*Blocs hp*/
.blochp div {
    background: #FFF;
    padding: 27px
}

.blochp > div > .img {
    height: 200px;
    background-size: cover
}

.mtb50 {
    padding-top: 50px;
    padding-bottom: 50px
}


.mentions { padding-top: 20px }
.mentions a {
    color: #fff;
}

footer a:hover {
    opacity: 0.8
}

