{% extends 'AdminBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Login{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            {% if error %}
                <div id="login-error" class="alert alert-danger" role="alert">{{ error.message }}</div>
            {% endif %}
            <form action="{{ path('admin_login') }}" method="post">
                <label for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>

                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="_password"/>

                <button class="btn btn-default" class="form-control" type="submit">Login</button>
            </form>
        </div>
    </div>

{% endblock %}