<section id="section-accommodation" class="product-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1
                    {% trans from "product" %}
                    accommodation_h3
                    {% endtrans %}
                </h3>
            </div>
        </div>

    </div>
</section>