<section id="section-accommodation" class="product-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-no-pd">
                <h1 class="lined-head">
                    {% trans from "product_section_description" %}
                        description-header-title-h1
                    {% endtrans %}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa fa-bed text-center" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_description" %}
                    description-element1-p
                    {% endtrans %}
                </p>
            </div>
            <div class="col-sm-6">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa fa-cutlery text-center" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_description" %}
                    description-element2-p
                    {% endtrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa fa-sun-o text-center" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_description" %}
                    description-element3-p
                    {% endtrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa fa-bicycle text-center" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_description" %}
                    description-element4-p
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</section>