<section id="section-accommodation" class="product-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                        General Information
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="lead">
                    Le logement s’effectue dans des hôtels partenaires.
                    Vous pourrez ainsi recharger vos batteries de vélo et profiter de l’accueil et du confort des
                    logements.
                    Il est possible de demander une chambre simple.
                </p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-bed">

                </i>
            </div>
        </div>

    </div>
</section>