<section id="section-accommodation" class="product-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                        General Information
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa fa-bed text-center" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    Le logement s’effectue dans des hôtels partenaires.
                    Vous pourrez ainsi recharger vos batteries de vélo et profiter de l’accueil et du confort des
                    logements.
                    Il est possible de demander une chambre simple.
                </p>
            </div>
            <div class="col-sm-6">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa fa-cutlery text-center" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    Les repas sont pris dans les hôtels partenaires, ils sont composés pour les sportifs et propose 
                    des plats locaux.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa fa-sun-o text-center" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    Le parcours peut démarrer tous les jours de Juillet à septembre. 
                    Selon les conditions météorologiques, une partie du parcours peut être revu. 
                    En effet à cette altitude il n’est pas rare d’avoir des chutes de neiges.
                </p>
            </div>
        </div>
    </div>
</section>