<section id="section-faq" class="product-section">
    <div class="container faqs">
        <div class="row">
            <div class="col-sm-12 col-no-pd">
                <h1 class="lined-head">
                    {% trans from "product_section_faq" %}
                    faq-header-title-h1
                    {% endtrans %}
                </h1>
            </div>
        </div>
        <div class="row row-no-mg">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-question-element1-h2
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="answer">
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-answer-element1-p
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-question-element2-h2
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="answer">
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-answer-element2-p
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-question-element3-h2
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="answer">
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-answer-element3-p
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-no-mg">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-question-element4-h2
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="answer">
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-answer-element4-p
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-question-element5-h2
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="answer">
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-answer-element5-p
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-question-element6-h2
                                {% endtrans %}
                            </p>
                        </div>
                        <div class="answer">
                            <p class="lead lead-light">
                                {% trans from "product_section_faq" %}
                                faq-answer-element6-p
                                {% endtrans %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>