<section id="section-faq" class="product-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    {% trans from "product" %}
                    faq_h3
                    {% endtrans %}
                </h3>
            </div>
        </div>
        <div class="section-list col-md-offset-4 col-md-4">
            <ol>
                <li>
                    {% trans from "product" %}
                    faq_li_point1
                    {% endtrans %}
                </li>
                <li>
                    {% trans from "product" %}
                    faq_li_point2
                    {% endtrans %}
                </li>
                <li>
                    {% trans from "product" %}
                    faq_li_point3
                    {% endtrans %}
                </li>
                <li>
                    {% trans from "product" %}
                    faq_li_point4
                    {% endtrans %}
                </li>
            </ol>
        </div>
    </div>
</section>