<section id="section-faq" class="product-section">
    <div class="container-fluid faqs">
        <div class="row">
            <div class="col-sm-12">
                <h1>Your questions answered</h1>
            </div>
        </div>
        <div class="row row-no-mg">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <h3 class="lead-light">
                                Faut-il un accompagnateur ?
                            </h3>
                        </div>
                        <div class="answer">
                            <p class="lead-light">
                                Selon votre souhait il est possible de partir en autonomie ou accompagné d’un
                                professionnel. Ce
                                dernier vous permettra de mieux découvrir le milieu montagnard et veillera sur votre
                                sécurité.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <h3 class="lead-light">
                                Que ce passe-t-il en cas de panne mécanique ?
                            </h3>
                        </div>
                        <div class="answer">
                            <p class="lead-light">
                                A chaque étape il sera possible de faire réparer le vélo ou de l’échanger selon les cas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <h3 class="lead-light">
                                Quelle est la difficulté du parcours ?
                            </h3>
                        </div>
                        <div class="answer">
                            <p class="lead-light">
                                L’itinéraire est parcouru par un professionnel de la montage pour identifier les
                                éventuels
                                problèmes. Il existe souvent plusieurs chemins qui vous seront indiqués dans les
                                documents.
                                Selon votre motivation pour pourrez modifier l’itinéraires.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-no-mg">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <h3 class="lead-light">
                                Comment vais-je m’orienter ?
                            </h3>
                        </div>
                        <div class="answer">
                            <p class="lead-light">
                                Nous vous proposerons un roadbook complet avec une carte avec une application GPS.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-12 faq">
                        <div class="question">
                            <div class="faq-expand" data-action-toggle="show">
                                <i class="fa fa-plus-circle text-center" aria-hidden="true"></i>
                            </div>
                            <h3 class="lead-light">
                                Comment arriver au départ du tour au contamines-Montjoie ?
                            </h3>
                        </div>
                        <div class="answer">
                            <p class="lead-light">
                                - En avion depuis l’aéroport de Genève<br/>
                                - En train : gare de St Gervais<br/>
                                - En voiture :
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>