<section id="section-highlights" class="product-section">
    <div class="container-fluid">
        <div class="row row-no-mg">
            <div class="col-xs-12 col-no-pd text-center ">
                <h1 class="lined-head">
                    <span>
                    {% trans from "product_section_highlight" %}highlights-title-h1{% endtrans %}
                    </span>
                </h1>
            </div>
        </div>

        <div class="row row-no-mg">
            <div class="col-sm-4 fadeIn">
                <div class="icon-box featured-box icon-box-center text-center">
                    <div class="icon-box-img has-icon-bg">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box-text last-reset">
                        <h2 class="uppercase">
                            {% trans from "product_section_highlight" %}
                            highlights-element1-h2
                            {% endtrans %}
                        </h2>
                        <p class="lead">
                            {% trans from "product_section_highlight" %}
                            highlights-element1-p
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 fadeIn">
                <div class="icon-box featured-box icon-box-center text-center">
                    <div class="icon-box-img has-icon-bg">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box-text last-reset">
                        <h2 class="uppercase">
                            {% trans from "product_section_highlight" %}
                            highlights-element2-h2
                            {% endtrans %}
                        </h2>
                        <p class="lead">
                            {% trans from "product_section_highlight" %}
                            highlights-element2-p
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 fadeIn">
                <div class="icon-box featured-box icon-box-center text-center">
                    <div class="icon-box-img has-icon-bg">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box-text last-reset">
                        <h2 class="uppercase">
                            {% trans from "product_section_highlight" %}
                            highlights-element3-h2
                            {% endtrans %}
                        </h2>
                        <p class="lead">
                            {% trans from "product_section_highlight" %}
                            highlights-element3-p
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>