<section id="section-highlights" class="product-section">
    <div class="highlights-img"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 fadeIn">
                <div class="icon-box featured-box icon-box-center text-center">
                    <div class="icon-box-img has-icon-bg">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-star fa-color1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box-text last-reset">
                        <h2 class="uppercase">
                            {% trans from "product_section_highlight" %}
                            highlights-element1-h2
                            {% endtrans %}
                        </h2>
                        <p class="lead">
                            {% trans from "product_section_highlight" %}
                            highlights-element1-p
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 fadeIn">
                <div class="icon-box featured-box icon-box-center text-center">
                    <div class="icon-box-img has-icon-bg">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-star fa-color1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box-text last-reset">
                        <h2 class="uppercase">
                            {% trans from "product_section_highlight" %}
                            highlights-element2-h2
                            {% endtrans %}
                        </h2>
                        <p class="lead">
                            {% trans from "product_section_highlight" %}
                            highlights-element2-p
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 fadeIn">
                <div class="icon-box featured-box icon-box-center text-center">
                    <div class="icon-box-img has-icon-bg">
                        <div class="icon">
                            <div class="icon-inner">
                                <i class="fa fa-star fa-color1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="icon-box-text last-reset">
                        <h2 class="uppercase">
                            {% trans from "product_section_highlight" %}
                            highlights-element3-h2
                            {% endtrans %}
                        </h2>
                        <p class="lead">
                            {% trans from "product_section_highlight" %}
                            highlights-element3-p
                            {% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>