<section id="section-trip" class="product-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    What's included?
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-check">
                    <span class="lead">L’hébergement en Hôtel pour 6 nuits en demi-pensions.</span>
                </i>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-check">
                    <span class="lead">Le vélo électrique.</span>
                </i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    Extras
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-check">
                    <span class="lead">Chambre individuelle</span>
                </i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    Not included
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-check">
                    <span class="lead">Une assurance individuelle d’assistance incluant la randonnée.</span>
                </i>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-check">
                    <span class="lead">Votre propre matériel individuel hors vélo (chaussures de VTT).</span>
                </i>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-check">
                    <span class="lead">Le transport vers le départ.</span>
                </i>
            </div>
        </div>
    </div>
</section>