<section id="section-included" class="product-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-no-pd">
                <h1 class="lined-head">
                    <span>
                        {% trans from "product_section_included" %}
                        included-header-title-h1
                        {% endtrans %}
                    </span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    included-element1-p
                    {% endtrans %}
                </p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    included-element2-p
                    {% endtrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    included-element3-p
                    {% endtrans %}
                </p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    included-element4-p
                    {% endtrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    included-element5-p
                    {% endtrans %}
                </p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    included-element6-p
                    {% endtrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-no-pd">
                <h1 class="lined-head">
                    <span>
                        {% trans from "product_section_included" %}
                        notincluded-header-title-h1
                        {% endtrans %}
                    </span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    notincluded-element1-p
                    {% endtrans %}
                </p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    notincluded-element2-p
                    {% endtrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-no-pd">
                <h1 class="lined-head">
                    <span>
                        {% trans from "product_section_included" %}
                        extras-header-title-h1
                        {% endtrans %}
                    </span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    extras-element1-p
                    {% endtrans %}
                </p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    extras-element2-p
                    {% endtrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    extras-element3-p
                    {% endtrans %}
                </p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">
                    {% trans from "product_section_included" %}
                    extras-element4-p
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</section>