<section id="section-included" class="product-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="lined-head">
                    <span>What's included?</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">L’hébergement en Hôtel pour 6 nuits en demi-pensions.</p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">Le vélo électrique.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="lined-head">
                    <span>Extras</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">Chambre individuelle.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="lined-head">
                    <span>Not included</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">Chambre individuelle.</p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">Une assurance individuelle d’assistance incluant la randonnée.</p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">Votre propre matériel individuel hors vélo (chaussures de VTT).</p>
            </div>
            <div class="col-sm-6 bubble-wrapper">
                <div class="bubble-icon">
                    <div class="bubble-icon-top">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
                <p class="lead">Le transport vers le départ.</p>
            </div>
        </div>
    </div>
</section>