<section id="section-iternary" class="product-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3>Iternary</h3>
            </div>
        </div>
        <div class="section-list col-md-offset-4 col-md-4">
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Pellentesque neque nisl, cursus vitae accumsan sed</li>
                <li>Etiam ultrices augue ut consectetur posuere.</li>
                <li>Suspendisse eu viverra eros, ac varius nis l.</li>
            </ol>
        </div>
    </div>
</section>