<section id="section-iternary" class="product-section fadeIn">
    <div class="container-fluid no-pd">
        {{ include('AppBundle:product/section/itinerary:stage1.html.twig') }}
    </div>
</section>