<section id="section-topbanner" class="product-section">
    <div class="topbanner banner-height-50">
        <a class="btn btn-default btn-custom-color" href="{{ path('contact') }}">
            {% trans from "home" %}
            module_contact_link_text
            {% endtrans %}
        </a>
    </div>
</section>