<section id="section-topbanner" class="product-section ">
    <div class="container-fluid">
        <div class="row topbanner-row">
            <div class="col-sm-6 col-pd-5 text-center">
                <h2 class="h1-no-mg h1-pd-10">
                            {% trans from "product_section_topbanner" %}
                            topbanner-difficulty-h1
                            {% endtrans %}
                </h2>
            </div>
            <div class="col-sm-6 col-pd-5 text-center">
                <p class="p-no-mg icon-list">
                    <span class="fa fa-2x fa-bicycle fa-icon-h"></span>
                    <span class="fa fa-2x fa-bicycle fa-icon-h"></span>
                    <span class="fa fa-2x fa-bicycle fa-icon-h"></span>
                    <span class="fa fa-2x fa-bicycle"></span>
                    <span class="fa fa-2x fa-bicycle"></span>
                </p>
            </div>
        </div>
        <div class="row topbanner-row">
            <div class="col-sm-6 col-pd-5 text-center">
                <h2 class="h1-no-mg h1-pd-10">
                        <span class="bold uppercase">
                            {% trans from "product_section_topbanner" %}
                            topbanner-hotelstars-h1
                            {% endtrans %}
                        </span>
                </h2>
            </div>
            <div class="col-sm-6 col-pd-5 text-center">
                <p class="p-no-mg icon-list">
                    <span class="fa fa-2x fa-star fa-icon-h"></span>
                    <span class="fa fa-2x fa-star fa-icon-h"></span>
                    <span class="fa fa-2x fa-star fa-icon-h"></span>
                    <span class="fa fa-2x fa-star"></span>
                    <span class="fa fa-2x fa-star"></span>
                </p>
            </div>
        </div>
        <div class="row topbanner-row">
            <div class="col-sm-6 col-pd-5 text-center">
                <h2 class="h1-no-mg h1-pd-10">
                        <span class="bold uppercase">
                            {% trans from "product_section_topbanner" %}
                            topbanner-duration-h1
                            {% endtrans %}
                        </span>
                </h2>
            </div>
            <div class="col-sm-6 col-pd-5 text-center">
                <p class="p-no-mg simple-p">
                    {% trans from "product_section_topbanner" %}
                    topbanner-duration-p
                    {% endtrans %}
                </p>
            </div>
        </div>
        <div class="row topbanner-row">
            <div class="col-sm-6 col-pd-5 text-center">
                <h2 class="h1-no-mg h1-pd-10">
                        <span class="bold uppercase">
                            {% trans from "product_section_topbanner" %}
                            topbanner-seasons-h1
                            {% endtrans %}
                        </span>
                </h1>
            </div>
            <div class="col-sm-6 col-pd-5 text-center">
                <p class="p-no-mg simple-p">
                    {% trans from "product_section_topbanner" %}
                    topbanner-seasons-p
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
</section>