<section id="section-topbanner" class="product-section ">
    <div class="stats topbanner">
        <div class="row row-no-mg">
            <div class="col-xs-12 col-no-pd text-center ">
                <h1 class="lined-head">
                    <span>
                        {% trans from "product_section_topbanner" %}
                            topbanner-title-h1
                        {% endtrans %}
                    </span>
                </h1>
            </div>
        </div>
        <div class="stats-wrapper">
            <div class="row">
                <div class="col-sm-6 col-pd-5 text-center">
                    <h1 class="h1-no-mg">
                        <span class="bold uppercase">
                            {% trans from "product_section_topbanner" %}
                            topbanner-difficulty-h1
                            {% endtrans %}
                        </span>
                    </h1>
                </div>
                <div class="col-sm-6 col-pd-5 text-center">
                    <p class="p-no-mg">
                        <span class="fa fa-2x fa-bicycle fa-icon-h"></span>
                        <span class="fa fa-2x fa-bicycle fa-icon-h"></span>
                        <span class="fa fa-2x fa-bicycle fa-icon-h"></span>
                        <span class="fa fa-2x fa-bicycle"></span>
                        <span class="fa fa-2x fa-bicycle"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-pd-5 text-center">
                    <h1 class="h1-no-mg">
                        <span class="bold uppercase">
                            {% trans from "product_section_topbanner" %}
                            topbanner-hotelstars-h1
                            {% endtrans %}
                        </span>
                    </h1>
                </div>
                <div class="col-sm-6 col-pd-5 text-center">
                    <p class="p-no-mg">
                        <span class="fa fa-2x fa-star fa-icon-h"></span>
                        <span class="fa fa-2x fa-star fa-icon-h"></span>
                        <span class="fa fa-2x fa-star fa-icon-h"></span>
                        <span class="fa fa-2x fa-star"></span>
                        <span class="fa fa-2x fa-star"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-pd-5 text-center">
                    <h1 class="h1-no-mg">
                        <span class="bold uppercase">
                            {% trans from "product_section_topbanner" %}
                            topbanner-duration-h1
                            {% endtrans %}
                        </span>
                    </h1>
                </div>
                <div class="col-sm-6 col-pd-5 text-center">
                    <p class="p-no-mg">
                        {% trans from "product_section_topbanner" %}
                        topbanner-duration-p
                        {% endtrans %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-pd-5 text-center">
                    <h1 class="h1-no-mg">
                        <span class="bold uppercase">
                            {% trans from "product_section_topbanner" %}
                            topbanner-seasons-h1
                            {% endtrans %}
                        </span>
                    </h1>
                </div>
                <div class="col-sm-6 col-pd-5 text-center">
                    <p class="p-no-mg">
                        {% trans from "product_section_topbanner" %}
                        topbanner-seasons-p
                        {% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>