<div class="col-md-4">
    <div class="module-contact">
        <div class="img"></div>
        <h2>
            {% trans from "home" %}
            module_contact_title_h1
            {% endtrans %}
        </h2>
        <p>
            {% trans from "home" %}
            module_contact_description_p
            {% endtrans %}
        </p>
        <p>
            <a class="btn btn-default btn-custom-color" href="{{ path('contact') }}">
                {% trans from "home" %}
                module_contact_link_text
                {% endtrans %}
            </a>
        </p>
    </div>
</div>