<section id="module-contact">
    <img src="{{ asset('bundles/app/images/home/slide2.jpg') }}" alt="{% trans from "home" %}module_contact_img_alt{% endtrans %}"/>
    <h1>
        {% trans from "home" %}
        module_contact_title_h1
        {% endtrans %}
    </h1>
    <p>
        {% trans from "home" %}
        module_contact_description_p
        {% endtrans %}
    </p>
</section>