<div class="headerbg">
    <div class="slide-cta container">
        <h1>
            {% trans from "home" %}
            module_herobanner_title_h1
            {% endtrans %}
        </h1>
        <p class="sous-titre">
            {% trans from "home" %}
            module_herobanner_description_p
            {% endtrans %}
        </p>
        <p class="cta mt360">
            <a href="{{ path('product_get', {'productId': 1}) }}">
                {% trans from "home" %}
                module_herobanner_link_a
                {% endtrans %}
            </a>
        </p>
    </div>
</div>
