<div class="col-md-8 blochp">
    <div>
        <div class="img" style="background: url('/bundles/app/images/home/img1.jpg') no-repeat center center"></div>
        <h2>
            {% trans from "home" %}
            module_info_title_h1
            {% endtrans %}
        </h2>
        <p>
            {% trans from "home" %}
            module_info_description_p
            {% endtrans %}
        </p>
        <p class="cta">
            <a href="{{ path('product_get', {'productId': 1}) }}">
                {% trans from "home" %}
                module_info_link_a
                {% endtrans %}
            </a>
        </p>
    </div>
</div>