<section id="module-info">
    <img src="{{ asset('bundles/app/images/home/slide2.jpg') }}" alt="{% trans from "home" %}module_info_img_alt{% endtrans %}"/>
    <h1>
        {% trans from "home" %}
        module_info_title_h1
        {% endtrans %}
    </h1>
    <p>
        {% trans from "home" %}
        module_info_description_p
        {% endtrans %}
    </p>
</section>